/* Split the screen in half */
.split_left {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
    left:0;
    background-color: gray;
  }
  
.split_right {
    height: 100%;
    width: 70%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
    right:0;
    background-color:darkgray;
}
  
  /* If you want the content centered horizontally and vertically */
.add{
  border-radius: 5px;
  background-color: chocolate;
  width:50%;
  margin-left:10px;
  margin-bottom:10px;
}
.delBut{
  color:red;
  border:1px solid red;
  border-radius:5px;
}
.delBut:hover{
  background-color: red;
  color:white;
}